body{
	background: #aaa;
	margin: 0;
	padding: 0;
}

.App {
  text-align: center;
  font-family: 'Patrick Hand', cursive;
}

.main{
  background: #666;
  border-radius: 5px;
  box-shadow: 0 0 5px black;
  border: 2px solid #666;
  margin-left: auto;
  margin-right: auto;
  height: 99vw;
  max-height: 480px;
  width: 99vw;
  max-width: 480px;
  margin-top: 25px;
  text-align: left;
}

h4{
	background: #cfcfcf;
	margin-top: 0;
  margin-bottom: 10px;
  padding: 10px;
  color: #111;
  font-size: 27px;
  box-shadow: 0 0 3px black;
}

.button{
  width: 33vw;
  max-width: 160px;
	height: 33vw;
  max-height: 160px;
  float: left;
  font-size: 80px;
  font-family: 'Patrick Hand', cursive;
}

.button-m{
  margin: 0 10px 10px 0;
}

.btn-reset{
  margin-top: 10px;
  padding: 10px 20px;
  border: 1px solid #0095DA;
  border-radius: 5px;
  background: #0095DA;
  box-shadow: 0 0 2px #0095DA;
  font-weight: 600;
  color: white;
  outline: none;  
  transition: all 200ms;
}

.btn-reset:hover{
  cursor: pointer;
  background: #0078AF;
  color: white;
  border-color: #0078AF;
  box-shadow: 0 0 10px 2px #0078AF;
}

.cover{
  background: black;
  position: absolute;
  height: 480px;
  width: 480px;
  margin-top: 25px;
  z-index: 9;
}