.App {
  text-align: -webkit-center;
}

.main{
  background: black;
  height: 480px;
  width: 480px;
  margin-top: 25px;
  text-align: left;
}

h4{
  margin-top: 15px;
  margin-bottom: 0px;
  font-family: cursive;
  font-size: 27px;
}

.button{
  height: 160px;
  width: 160px;
  float: left;
  font-size: 80px;
  font-family: cursive;
}

.button-m{
  margin: 0 10px 10px 0;
}

.btn-reset{
  margin-top: 10px;
  padding: 10px 20px;
  border: 1px solid #0095DA;
  border-radius: 2px;
  background: white;
  font-family: cursive;
  font-weight: 600;
  color: #0095DA;
  outline: none;  
  transition: all 200ms;
}

.btn-reset:hover{
  cursor: pointer;
  background: #0095DA;
  color: white;
  border-color: #0078AF;
}

.cover{
  background: black;
  position: absolute;
  height: 480px;
  width: 480px;
  margin-top: 25px;
  z-index: 9;
}